[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Khweeteur
Exec=/usr/bin/khweeteur
Icon=khweeteur
X-Osso-Service=net.khertan.khweeteur
